name: "Weather Station Server"
version: "1.2.0"
slug: "weather_station"
description: "Local Weather Station Server for WSLink devices"
arch:
  - aarch64
  - amd64
  - armv7
startup: application
boot: auto
map:
  - "config:rw"
ports:
  80/tcp: 80
options:
  log_level: info
schema:
  log_level: str
